/* *{
    margin:0;
    padding:0;
} */

body{
    background-color: #f4f4f4;
    color:#444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight: normal;
    /* same as above */
    font: normal 16px Arial. Helvetica, sans-serif;
    line-height: 1.6em;  
    margin:0;  
}


.container{
    width:80%;
    margin:auto;
}

.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red solid;
    /*
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;  
    */
    /* or */
    border-width: 10px;
    border-bottom-width: 5px;
    border-top-style: dotted;

    /* padding */
    padding: 20px;

    /*  same as
    padding-right:20px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 20px;
    */

    margin-top: 20px;
    
    /* 20px top-bottom 0 right-left*/
    margin: 20px 0; 

}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 5px solid #ccc;
    padding: 16px;
    margin: 10px;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;

}

/* remove the underline of links */
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    color:red;
}
a:active{
    color:blue;
}

a:visited{
    color:green;
}

.categories ul{
    padding-left: 20px;
    list-style: square;
    /* list-style: none;  */
}

.categories li{
    padding-bottom: 5px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../image/check.png');
}
